<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name=".ui.RegisterActivity"
            android:exported="false">
        </activity>

        <activity
            android:name=".ui.PrivacyPolicyActivity"
            android:exported="false" />
        <activity
            android:name=".ui.LoginActivity"
            android:exported="true">
        </activity>
    </application>

</manifest>